
   * {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    margin: 0; padding: 0;
    font-family: "PT Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto; 
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-list, .section-list /*.nav_marks*/ {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .nav-link {
    transition: .3s;
  }

  a:hover {
    background: #1d1d1e; 
    color: #ffe; }

.section {
    text-align: center;
}

